---
layout: list
title: MUDs hosted by Vineyard
---
<h1>A few of the MUDs hosted by Vineyard</h1>

<br>
<center>
  <table class="table">
  <thead>
    <tr>
      <th scope="col">MUD Name</th>
      <th scope="col">Server</th>
      <th scope="col">Connection Info</th>
      <th scope="col">&nbsp;</th>
    </tr>
  </thead>
  <tbody>
  {% assign mudlist = site.data.mud_list.muds | sort: 'mud_name'  %}
  {% for mud in mudlist %}
      <tr>
        <td>{{ mud.mud_name }}</td>
        <td>{{ mud.server }}</td>
        <td><a href="telnet://{{ mud.server_address }}:{{ mud.server_port }}">{{ mud.server_address }} {{ mud.server_port }}</td>
        <td>{% if mud.site %}<a href="http://{{ mud.site }}" target="_blank"><img src="/images/site.png" border="0">{% endif %}</a></td>
      </tr>
  {% endfor %}
</tbody>
</table><br><br>If you are hosted by Vineyard and want to have your MUD listed,
<script language="JavaScript">
  var username = "hostme";
  var hostname = "vineyard.haus";
  var linktext = "let us know";
  document.write("<a href='" + "mail" + "to:" + username + "@" + hostname + "'>" + linktext + "</a>");
</script>!
</center>
