<footer>
    <div class="container">
        Copyright &copy; 1998 - {{ site.time | date: '%Y' }} Vineyard, a <a href="https://vintner.haus"
                target="_blank" style="color:#E35E1C;font-weight:bold;">Vintner</a> production. All Rights Reserved. <a href="https://gossip.haus/conduct">Code
                of Conduct</a>
    </div>
</footer>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-133231361-2"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-133231361-2');
</script>