<footer>
    <div class="container">
        <a href="https://www.patreon.com/VineyardHosting" target="_blank">
                  <img src="/images/patron.png" />
                </a><br><br>
        Copyright &copy; 1998 - {{ site.time | date: '%Y' }} Vineyard. All Rights Reserved.<br><a href="https://grapevine.haus/conduct" target="_blank">Code
                of Conduct</a><br><br>Powered by <a href="https://jasonhosts.com" target="_blank">JasonHosts</a>
    </div>
</footer>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-133231361-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-133231361-2');
</script>
