<header>
    <nav class="navbar navbar-expand-md">
        <div class="container">
            <a class="navbar-brand" href="/"> <img height="30" src="/images/grapevine.png">
            </a> <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarLinks"
                aria-controls="navbarLinks" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarLinks">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/chat">Chat</a> </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/events">Events</a> </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/games">Games</a> </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/manage/settings">Settings</a> </li>
                    <li class="nav-item">
                        <a class="nav-link" data-csrf="N24+dQ9kABgiJBEzCg8SDQEABF0INgAAxAZLNOc3FqGXXZxZh+7lQw=="
                            data-method="delete" data-to="/sign-in" href="/sign-in" rel="nofollow">Sign Out</a> </li>
                </ul>
            </div>
        </div>
    </nav>
</header>