<header>
    <nav class="navbar navbar-expand-md">
        <div class="container">
            <a href="/">
                <img src="/images/vineyard.png" height="30" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarLinks"
                aria-controls="navbarLinks" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarLinks">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="/about" class="nav-link">About</a>
                    </li>
                    <li class="nav-item">
                        <a href="/muds" class="nav-link">Hosted MUDs</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://stats.uptimerobot.com/p7gWGUzqD2" class="nav-link" target="_blank">Service Status</a>
                    </li>
                    <li class="nav-item">
                        <a href="/donate" class="nav-link">Donate</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://docs.google.com/forms/d/1xMCmwsdQ68cGQb5K6Sw9SaEbDbFc2E1wAqCngY47O8E"
                            target="_blank" class="nav-link">Request Hosting</a>
                    </li>
                </ul>
                <a href="https://www.patreon.com/VineyardHosting" target="_blank" class="mb-4 float-right">
                    <img src="/images/patron.png" />
                  </a>
            </div>
        </div>
    </nav>
</header>